# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.JsonToZero.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\not.applicable\Projects\Git Repositories\JsonToZero\.idea\.idea.JsonToZero\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
